.contenedor {
    border: 5px solid red;
    text-align: center;
    margin-left: 25%;
}

.caja1 {
    width: 50%;
    height: 75px;
    margin-top: 10px;
    margin-left: 10px;
    border: 5px solid green;
    text-align: left;
}

.caja2 {
    width: 50%;
    height: 75px;
    margin-top: 10px;
    margin-left: 50px;
    border: 5px solid blue;
    text-align: left;
}

.caja3 {
    width: 50%;
    height: 75px;
    margin-top: 10px;
    margin-left: 100px;
    border: 5px solid yellow;
    text-align: left;
}